.main {
  .wrapper {
    display: grid;
    grid-template-columns: min-content minmax(200px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px, 1fr);
  }
}
.main__content {
  display: flex;
  flex-direction: column;
  gap: 49px;
  padding: 0 5px;
}
.main__content_channel-page {
  gap: 33px;
}

@media (max-width: $tablet) {
  .main {
    .wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }
}
@media (max-width: $mobile) {
  .main__content {
    padding: 0 16px 80px;
  }
  .main__content_channel-page {
    gap: 21px;
  }
}
