.show-container {
  position: relative;
  width: 540px;
  height: 250px;
  overflow: hidden;
  z-index: 2;
}
.show-container_small {
  width: 250px;
  height: 150px;
}
.show-container_videopage {
  width: 367px;
  height: 213px;
}
.show {
  border-radius: 14px;
  width: inherit;
  height: inherit;
}
.show_small {
  width: inherit;
  height: inherit;
}
.show__time {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 9px;
  border-radius: 12px;
  color: $time-duration-text-color;
  background-color: $time-duration-caption-bg-color;
}
@media (max-width: $breakpoint-two) {
  .show-container_channel-page {
    width: 250px;
    height: 150px;
  }
  .show-container_videopage {
    width: 250px;
    height: 150px;
  }
}
@media (max-width: $mobile) {
  .show-container {
    width: 100%;
  }
  .show {
    width: 100%;
    height: calc(52vw - 15px);
  }
}
