.subscriptions {
  display: flex;
  flex-direction: column;
  gap: 23px;

  & :first-child {
    margin-bottom: 4px;
  }
}
.subscriptions_big {
  gap: 30px;
  & :first-child {
    margin-bottom: 0;
  }
}
.subscriptions__title {
  font: normal 700 18px/23px 'Mulish', sans-serif;
}
.subscriptions__title_small {
  font: normal 400 16px/20px 'Mulish', sans-serif;
}

@media (max-width: $tablet) {
  .subscriptions {
    display: none;
  }
}
