.video-preview {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.video-preview__show-container {
  position: relative;
}
.vodeo-preview__show {
  border-radius: 14px;
  z-index: 2;
  width: 250px;
  height: 150px;
}
.video-preview__time {
  position: absolute;
  bottom: 14px;
  right: 10px;
  padding: 3px 9px;
  border-radius: 12px;
  background-color: $time-duration-caption-bg-color;
  color: $time-duration-text-color;
  font: normal 400 14px/18px "Mulish", sans-serif;
}
.video-preview__title {
  padding-top: 5px;
  font: normal 700 16px/20px "Mulish", sans-serif;
}
.video-preview__details {
  display: flex;
  justify-content: space-between;
  font: normal 400 13px/16px "Mulish", sans-serif;
  color: $video-preview-caption-text-color;
}

@media (max-width: $mobile) {
  .video-preview__show-container {
    width: 100%;
  }
  .vodeo-preview__show {
    width: 100%;
    height: calc(52vw - 15px);
  }
}