.video-preview {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.video-preview__show-container {
  position: relative;
}
.video-preview__title {
  padding-top: 5px;
  font: normal 700 16px/20px "Mulish", sans-serif;
}
.video-preview__details {
  display: flex;
  justify-content: space-between;
  font: normal 400 13px/16px "Mulish", sans-serif;
  color: $video-preview-caption-text-color;
}
