.video-description {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 32px;
}
.video-description__info {
  padding: 17px 0 15px 0;
}
.video-description__title {
  font: normal bold 26px/34px "Mulish", sans-serif;
  margin-bottom: 10px;
  padding-right: 240px;
}
.video-description__text {
  font: normal normal 16px/22px "Mulish", sans-serif;
  margin-bottom: 30px;
  padding-right: 220px;
}
@media (max-width: $breakpoint-one) {
  .video-description__title {
    padding-right: 10px;
  }
  .video-description__text {
    padding-right: 10px;
  }
}
@media (max-width: $mobile) {
  .video-description {
    display: none;
  }
}
