$header-input-bg-color: #ebebeb;
$sections-text-color: #898989;
$sections-text-color-checked: #ff0000;
$time-duration-caption-bg-color: rgba(
  $color: #000000,
  $alpha: 0.3,
);
$time-duration-text-color: #ffffff;
$video-preview-caption-text-color: #c2c2c2;
$button-bg-color: #ff0000;
$button-text-color: #ffffff;
$sidebar-bg-color: #ffffff;

$breakpoint-one: 1440px;
$breakpoint-two: 868px;
$tablet: 768px;
$mobile: 552px;
